apiVersion: v1
kind: ConfigMap
metadata:
  name: wapmh-query-collection-configmap
data:
  allHeadersSelect.rq: |
    prefix dc: <http://purl.org/dc/elements/1.1/>
    prefix lv: <http://purl.org/lobid/lv#>

    select ?identifier ?datestamp {
        ?resourceIri a lv:ArchivedWebPage ;
            dc:identifier ?identifier .
        filter(substr(?identifier, 1, 1) != "(")
    }
  dateRangeHeadersSelect.rq: |
    prefix xsd: <http://www.w3.org/2001/XMLSchema#>
    prefix dc: <http://purl.org/dc/elements/1.1/>
    prefix lv: <http://purl.org/lobid/lv#>

    select ?identifier ?datestamp {
        ?resourceIri a lv:ArchivedWebPage ;
            dc:date ?datestamp ;
            dc:identifier ?identifier .
        filter(!bound(?from) || ?datestamp >= xsd:dateTime(concat(?from, "T00:00:00Z")))
        filter(!bound(?until) || ?datestamp <= xsd:dateTime(concat(?until, "T00:00:00Z")))
        filter(substr(?identifier, 1, 1) != "(")
    }
  recordConstruct.rq: |
    prefix foaf: <http://xmlns.com/foaf/0.1/>
    prefix bibo: <http://purl.org/ontology/bibo/>
    prefix dc: <http://purl.org/dc/elements/1.1/>
    prefix dcterms: <http://purl.org/dc/terms/>
    prefix lv: <http://purl.org/lobid/lv#>

    construct {
        ?resourceIri a lv:ArchivedWebPage ;
            dcterms:medium <http://rdaregistry.info/termList/RDACarrierType/1018> ;
            dc:identifier ?identifier ;
            bibo:issue ?datestamp ;
            dcterms:isPartOf ?work ;
            ?p ?o .
        ?work ?wp ?wo ;
            foaf:primaryTopic ?url .
    } where {
        ?resourceIri a lv:ArchivedWebPage ;
            dcterms:medium <http://rdaregistry.info/termList/RDACarrierType/1018> ;
            dc:identifier ?identifier ;
            bibo:issue ?datestamp ;
            dcterms:isPartOf ?work ;
            ?p ?o .
        ?work ?wp ?wo ;
            foaf:primaryTopic ?url .
    }
  recordOaiDcConstruct.rq: |
    prefix foaf: <http://xmlns.com/foaf/0.1/>
    prefix dc: <http://purl.org/dc/elements/1.1/>
    prefix dcterms: <http://purl.org/dc/terms/>
    prefix lv: <http://purl.org/lobid/lv#>

    construct {
        ?resourceIri
            dc:type lv:ArchivedWebPage ;
            dc:identifier ?resourceIri, ?identifier ;
            dc:date ?datestamp ;
            dc:relation ?work, ?workIdentifier ;
            dc:format <https://d-nb.info/gnd/4596172-4> , ?medium ;
            dc:source ?url .
    } where {
        ?resourceIri a lv:ArchivedWebPage ;
            dcterms:medium ?medium ;
            dc:identifier ?identifier ;
            dc:date ?datestamp ;
            foaf:primaryTopic ?url ;
            dcterms:isPartOf ?work .
        optional {
            ?work dc:identifier ?workIdentifier
        }
    }