apiVersion: v1
kind: ConfigMap
metadata:
  name: wacli-query-collection-configmap
data:
  remote_query.rq: |
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    PREFIX bibo: <http://purl.org/ontology/bibo/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX rdact: <http://rdaregistry.info/termList/RDACarrierType/>
    PREFIX lv:   <http://purl.org/lobid/lv#>
    PREFIX wdrs: <http://www.w3.org/2007/05/powder-s#>
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>

    CONSTRUCT {
        ?page a bibo:Website ;
            dc:identifier ?pageIdentifier ;
            dc:title ?title ;
            foaf:primaryTopic ?topic ;
            dcterms:medium rdact:1018 .
        ?snapshot a lv:ArchivedWebPage ;
            dcterms:isPartOf ?page ;
            dc:identifier ?identifier ;
            bibo:issue ?issueDate ;
            dcterms:medium rdact:1018 .
    } WHERE {
        ?page a lv:ArchivedWebPage ; # Website; wrong type
            dc:identifier ?pageIdentifier ;
            dc:title ?title;
            foaf:primaryTopic ?topic;
            dcterms:medium rdact:1018 .
        ?snapshot dcterms:isPartOf ?page ;
            dc:identifier ?identifier ;
            bibo:issue ?issueDate ;
            dcterms:medium rdact:1018 ;
            wdrs:describedby ?description .
        ?description dcterms:modified ?modification .
        filter(?modification < "2020-01-01T00:00:00.000"^^xsd:dateTime)
    }
  local_query.rq: |
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX lv: <http://purl.org/lobid/lv#>
    PREFIX foaf: <http://xmlns.com/foaf/0.1/>
    PREFIX bibo: <http://purl.org/ontology/bibo/>

    CONSTRUCT {
        ?page a bibo:Website ;
            foaf:primaryTopic ?topic ;
            ?pp ?po .
        ?snapshot a lv:ArchivedWebPage ;
            dc:identifier ?identifier, ?idn ;
            dc:date ?datestamp ;
            dcterms:isPartOf ?page ;
            foaf:primaryTopic ?topic ;
            lv:webPageArchived ?topic ;
            ?sp ?so .
    } WHERE {
        ?page a bibo:Website ;
            foaf:primaryTopic ?topic ;
            ?pp ?po .
        ?snapshot a lv:ArchivedWebPage ;
            dcterms:isPartOf ?page ;
            dc:identifier ?identifier ;
            bibo:issue ?issueDate ;
            ?sp ?so .
        bind(SUBSTR(STR(?identifier), 9) as ?idn)
        bind(STRDT(CONCAT(STR(?issueDate), "T02:00:00+01:00"), xsd:dateTime) as ?datestamp)
    }
  list_query.rq: |
    PREFIX dc: <http://purl.org/dc/elements/1.1/>
    PREFIX lv: <http://purl.org/lobid/lv#>

    select ?idn {
        ?resourceIri a lv:ArchivedWebPage ;
            dc:identifier ?idn .
            filter(SUBSTR(?idn, 1, 1) != "(")
    }