kind: Deployment
apiVersion: apps/v1
metadata:
  name: pywb-app
  labels:
    app: pywb
spec:
  selector:
    matchLabels:
      app: pywb
  template:
    metadata:
      labels:
        app: pywb
    spec:
      containers:
        - name: pywb-app
          # image: 'docker.io/webrecorder/pywb:2.8.3'
          image: 'ghcr.io/deutsche-nationalbibliothek/pywb:integration-preImage-uwsgiMount-entrypoint'
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          args: ["uwsgi", "/uwsgi/uwsgi.ini"]
          env:
            - name: UWSGI_MOUNT
              value: "{{ .Values.playbackBasePath }}=/pywb/pywb/apps/wayback.py"
          volumeMounts:
            - mountPath: {{ .Values.warcDirectory | quote }}
              name: warcs
            - mountPath: "/webarchive"
              name: pywb-configmap
              readOnly: true
      volumes:
        - name: warcs
          persistentVolumeClaim:
            claimName: warcs-pvc
        - name: pywb-config
          configMap:
            name: pywb-configmap
            items:
              - key: "config.yaml"
                path: "config.yaml"
