apiVersion: v1
kind: ConfigMap
metadata:
  name: pywb-configmap
data:
  config.yaml: |
    collections:
      {{ .Values.pywbCollection }}:
        archive_paths: {{ .Values.warcDirectory | quote }}
        #archive_paths: http://remote.example.org/warcs/
        index_paths: cdx+http://outbackcdx-service:8080/outbackcdx/{{ .Values.pywbCollection }}